@import "tailwindcss";

/* link font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* theme untuk tamplate semuanya (text, bg, dll) */
@theme {
    --font-poppins: 'Poppins' , sans-serif;
    --font-roboto: 'Roboto' , sans-serif;
    --breakpoint-sm:"576px";
    --breakpoint-md:'768px';
    --breakpoint-lg:'992px';
    --breakpoint-xl:'1200px';
    --color-primary: #3D0075 ;
}

@layer base {
    body {
        @apply font-poppins;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-roboto;
    }
}

/* layer untuk membuat class */
@layer components {
    .my-container {
        @apply mx-auto max-w-[73rem] px-4;
        
    }

    .size-selector input:checked + label {
        @apply bg-primary text-white transition border-0;
    }

    .color-selector input:checked + label {
        @apply ring-2 ring-primary transition;
    }
}

/* @layer component {
    .my-container {
        @apply mx-auto max-w-5xl px-4;
    }

    .bg-primary {
        @apply bg-purple;
    }
1
    .size-selector input:checked + label {
        @apply bg-purple text-white transition ;
    }

    .color-selector input:checked + label {
        @apply ring-2 ring-purple transition ;
    }
} */